*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin: 1;
    padding: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("assets/background.avif");
}

main{
    width: 80vw;
    height: 80vh;
    background-color: rgb(188, 244, 250);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 25px;
    flex-direction: column;
    justify-content: space-between;
}

section{
    width: 100%;
}

section.populated {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: scroll;
}

.starter-text {
    padding: 0 80px;
}

form {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: #838383 solid 2px;
    padding-top: 20px;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

input.question-box {
    width: 85%;
    padding: 10px;
    font-size: 20px;
    color: #383838;
    border: none;
}

input[type=submit] {
    width: 20%;
    font-size: 20px;
    color: #fff;
    border: none;
    background-color: rgb(24, 138, 1);
}

input:focus {
    outline: none;
}

img{
    border-radius: 60px;
}

.loader {
    margin: 10px;
    width: 60px;
    aspect-ratio: 5;
    background: 
    no-repeat radial-gradient(circle closest-side, #383838 90%, #0000) 0 50%,
    no-repeat radial-gradient(circle closest-side, #383838 90%, #0000) 50% 50%,
    no-repeat radial-gradient(circle closest-side, #383838 90%, #0000) 100% 50%;
    ;
    background-size: calc(100%/3) 100%;
    animation: loading 1s infinite linear;
}

@keyframes loading {
    33% { background-size: calc(100%/3) 0, calc(100%/3) 100%, calc(100%/3) 100%;}
    50% { background-size: calc(100%/3) 100%, calc(100%/3) 0, calc(100%/3) 100%;}
    66% { background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0;}
}

.bubble {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: none;
    color: #383838;
    box-shadow: #2a2a2a 0 8px 24px;
    width: 80%;
    text-align: left;
}

.bubble.user {
    border-radius: 20px 2px 0 20px;
    background-color: rgb(158, 252, 213);
    margin-left: auto;
}

.bubble.assistant {
    border-radius: 20px 20px 20px 0;
    background-color: rgb(255, 247, 158);
}

.prompt-row {
    width: 80%;
    justify-self: center;
}

.prompt-button {
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    border: none;
    background-color: #fff;
    border-radius: 15px;
    color: #383838;
    box-shadow: #2a2a2a 0 8px 24px;
}